<!DOCTYPE html>	

<html xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorator="desktop-layout">
        
<div class="panel panel-default" layout:fragment="desktop-page-content"> 
	<div class="panel-heading container-fluuid">
      		<div>
                <span>
                    <i class="fa fa-book fa-fw"></i> 
				 <th:block th:text="#{desktop.layout.sidebar.books}"></th:block>
                </span>
      		</div> 
	</div>
	<div class="panel-body">
	    <div id="toolbar" class="toolbar">
			<input type="text" class="form-control search-box" placeholder="Search" />
			<select class="selectpicker" title="Type" data-width="fit" multiple>
				  <option data-tokens="ketchup mustard">Hot Dog</option>
				  <option data-tokens="mustard">Burger</option>
				  <option data-tokens="frosting">Sugar</option>
			</select>
			<select class="selectpicker" title="Status" data-width="fit" multiple>
				  <option data-tokens="ketchup mustard">Hot Dog</option>
				  <option data-tokens="mustard">Burger</option>
				  <option data-tokens="frosting">Sugar</option>
			</select>
			<button class="btn btn-primary btn-block search-btn" type="submit">Search</button>
       	</div> 
       	<hr>
		<div th:if="${not #lists.isEmpty(records)}" >
            		<table width="100%" class="table table-striped table-bordered table-hover table-uca" id="dataTables-example">
                      <thead>
                          <tr> 
		                <th>Reference</th>
		                <th>Description</th>
		                <th>Author</th>
		                <th>Status</th>
		            </tr>
                      </thead>
                      <tbody>
			            <tr th:each="record : ${records}">
			                <td th:text="${record.reference}"></td>
			                <td> <a th:href="${ '/records/' + record.id}" th:text="${record.description}"></a></td>
			                <td th:text="${record.author}"></td>
			                <td th:text="#{desktop.records.status.__${record.status.value}__}"></td>
			            </tr>
                      </tbody>
                  </table>
	    </div>
	</div>
</div>

</html>