<!DOCTYPE html>	

<html xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{desktop-layout}">
        
<div id="books-container" class="panel panel-default" layout:fragment="desktop-page-content"> 
	<div class="panel-heading container">
        <span class="title">
        	<i class="fa fa-book fa-fw"></i> 
			<th:block th:text="#{desktop.layout.sidebar.books}"></th:block>
        </span>
      	<a th:href="@{/books/new}" class="btn btn-default btn-add pull-right"><i class="fa fa-plus fa-fw"></i><th:block th:text="#{common.new}"/></a>
	</div>
	<div class="panel-body">
		<form id="search-form" class="search-widget">
			<input type="text" name="titleText" class="form-control search-title" th:placeholder="#{ desktop.common.title }" />
			<input type="text" name="descriptionText" class="form-control search-description" th:placeholder="#{ desktop.common.description }" />
			<select name="authorIds" class="selectpicker search-item" th:title="#{ desktop.common.authors }" data-live-search="true" data-width="300px" multiple>
				  <option th:each="author : ${authorList}" th:attr="data-tokens=${author.fullname}" th:value="${author.id}" th:text="${author.fullname}">
				  </option>
			</select>			
			<button class="btn btn-primary btn-block search-btn" type="button"><th:block th:text="#{common.search}"></th:block></button>
       	</form> 
       	<hr>
		<div id="result-container" class="result-container" th:include="~{modules/books/dataTable::content}"></div>
	</div>
</div>

<div layout:fragment="js-import"> 	
	<script th:src="@{/js/books.js}" ></script> 
</div>

</html>