<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{desktop-layout}">

	<div id="exchange-form-container" class="panel panel-default details-container exchange-details-container" layout:fragment="desktop-page-content"> 
		<th:block th:with="isNewExchange=${exchange == null}">
			<div class="panel-heading">
	       		<div class="row">
	                 <div class="col-lg-12">
	                    <span class="title">
                        	<i class="fa fa-exchanges-o fa-fw"></i>
	                        <th:block th:text="#{common.__${isNewExchange ? 'new' : 'edit'}__}"></th:block>
							<th:block th:text="#{desktop.common.exchange}"></th:block>
	                    </span>
	                 </div>
	       		</div>
			</div>				
			<div class="panel-body">
				<div class="col-lg-12">
				    
				    <form class="form-horizontal details-form exchange-details-form" role="form">
				    	<input id="exchangeId" type="hidden" name="id" th:value="${exchange?.id}"/>
				    	<div class="form-group">
				    		<label for="exchangeType" class="col-sm-2 control-label" th:text="#{desktop.common.exchangeType}"></label>
				    		<div class="col-sm-6">
				    			<div class="input-group">
				    				<div id="exchangeType" class="btn-group">
				    					<a th:class="|btn btn-primary btn-sm ${exchange?.type == SEND || isNewExchange ? 'active' : ''}|" data-toggle="exchangeType" data-value="SEND">Send</a>
				    					<a th:class="|btn btn-primary btn-sm ${exchange?.type == RECEIVE ? 'active' : ''}|" data-toggle="exchangeType" data-value="RECEIVE">Receive</a>
				    				</div>
				    				<input id="exchangeTypeValue" type="hidden" th:value="${isNewExchange ? SEND : exchange?.type}" name="type">
				    			</div>
				    		</div>
				    	</div>
		    			<div class="form-group">
				    		<label for="authorName" class="col-sm-2 control-label"><th:block th:text="#{desktop.common.authorName}"></th:block></label>
				    		<div class="col-sm-6">
				    			<input type="text" name="authorName" class="form-control"  th:value="${exchange?.authorName}" th:placeholder="#{desktop.common.authorName}" th:disabled="${exchange?.authorName} ? true : false" required/>
				    		</div>
				    	</div>
						<div class="form-group">
				    		<label for="bookTitle" class="col-sm-2 control-label"><th:block th:text="#{desktop.common.book}"></th:block></label>
				    		<div class="col-sm-6">
				    			<input type="text" name="bookTitle" class="form-control"  th:value="${exchange?.bookTitle}" th:placeholder="#{desktop.common.book}" th:disabled="${exchange?.bookTitle} ? true : false" required/>
				    		</div>
				    	</div>
				    	<div class="form-group">
				    		<label for="date" class="col-sm-2 control-label"><th:block th:text="#{desktop.common.date}"></th:block></label>
				    		<div class="col-sm-6">
				    			<input type="date" name="date" class="form-control"  th:value="${exchange?.date}" th:placeholder="#{desktop.common.date}" th:disabled="${exchange?.date} ? true : false" required/>
				    		</div>
				    	</div>
				    	<div th:class="|form-group sender ${exchange?.type == SEND || isNewExchange ? 'hidden' : ''}|">
				    		<label for="sender" class="col-sm-2 control-label"><th:block th:text="#{desktop.common.sender}"></th:block></label>
				    		<select name="sender" class="selectpicker col-sm-4" th:title="#{desktop.common.sender}" th:disabled="${exchange?.sender} ? true : false" required>
							  <option th:each="sender : ${institutionList}" th:selected="${#strings.equals(sender, exchange?.sender)}" th:value="${sender}" th:text="${sender}">
							  </option>
							</select>
				    	</div>
				    	<div th:class="|form-group destination ${exchange?.type == RECEIVE ? 'hidden' : ''}|">
				    		<label for="destination" class="col-sm-2 control-label"><th:block th:text="#{desktop.common.destination}"></th:block></label>
			    			<select name="destination" class="selectpicker col-sm-4" th:title="#{desktop.common.destination}" th:disabled="${exchange?.destination} ? true : false" required>
							  <option th:each="destination : ${institutionList}" th:selected="${#strings.equals(destination, exchange?.destination)}" th:value="${destination}" th:text="${destination}" >
							  </option>
							</select>	
				    	</div>
				    	<div th:class="|form-group library ${exchange?.type == SEND || isNewExchange ? 'hidden' : ''}|">
				    		<label for="library" class="col-sm-2 control-label"><th:block th:text="#{desktop.common.reception.library}"></th:block></label>
				    		<select name="library" class="selectpicker col-sm-4" th:title="#{desktop.common.destination}" th:disabled="${exchange?.library} ? true : false" required>
							  <option th:each="library : ${libraryList}" th:selected="${#strings.equals(library.name, exchange?.library)}" th:value="${library.name}" th:text="${library.name}">
							  </option>
							</select>	
				    	</div>
				    </form>
			   	</div>
			</div>
			<div th:replace="~{fragments/panel-footer::content (__${isNewExchange}__)}">
			</div>
		</th:block>
	</div>
	<th:block layout:fragment="modals"> 	
	</th:block>
	
	<th:block layout:fragment="js-import"> 	
		<script th:src="@{/js/exchangeForm.js}" ></script> 
		<script th:inline="javascript"> 
			var exchangesUrl = [[@{/exchanges}]];
		</script>
	</th:block>
	
</html>