<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{desktop-layout}">

	<div id="exchanges-container" class="panel panel-default" layout:fragment="desktop-page-content">
		<div class="panel-heading container">
			<span class="title">
				<i class="fa fa-exchange fa-fw"></i>
				<th:block th:text="#{desktop.layout.sidebar.exchange}"></th:block>
			</span>
			<a th:href="@{/exchanges/new}" class="btn btn-default btn-add pull-right">
				<i class="fa fa-plus fa-fw"></i>
				<th:block th:text="#{ common.new }">
			</a>
		</div>
		<div class="panel-body">
			<form id="search-form" accept-charset="utf-8" action="/exchanges/search" method="GET" class="search-widget form-horizontal">
				<div class="form-group col-sm-12">
					<input type="text" name="authorName" class="form-control search-title" th:placeholder="#{ desktop.authors.details.title.label }" />
					<input type="text" name="bookTitle" class="form-control search-title" th:placeholder="#{ desktop.common.book }" />
					<label for="fromDate" class="control-label"><th:block th:text="#{ desktop.common.from }"></label>
					<input type="date" name="fromDate" class="form-control search-title" th:placeholder="#{ desktop.common.from }" />
					<label for="toDate" class="control-label"><th:block th:text="#{ desktop.common.to }"></label>
					<input type="date" name="toDate" class="form-control search-title" th:placeholder="#{ desktop.common.to }" />
					<button class="btn btn-primary btn-block search-btn" type="submit">
						<th:block th:text="#{ common.search }"></th:block>
					</button>
				</div>
			</form>
			<hr>
			<div id="result-container" class="result-container" th:include="~{modules/exchanges/dataTable::content}"></div>
		</div>
	</div>
	
	<div layout:fragment="js-import">
		<script th:src="@{/js/exchanges.js}"></script>
	</div>

</html>

