<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" 
		xmlns:th="http://www.thymeleaf.org" 
		xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">

<head lang="en">
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
</head>
<body>
 
	<th:block th:fragment="content">
		<table id="actions-table" class="table table-striped table-bordered table-uca" width="100%">
			<thead>
				<tr> 
					<th class="hidden">id</th>
					<th width="50%" th:text="#{desktop.common.description}"></th>
					<th width="20%" th:text="#{desktop.common.date}"></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="action : ${actions}" class="action clickable" th:attr="data-id=${action.id}" data-href="#">
					<td class="hidden" th:text="${action.id}"></td>
				    <td th:text="${action.description}"></td>
				    <td th:text="${action.date}"></td>
				</tr>
		    </tbody>
		</table>
	</th:block>
</body>
</html>