<!DOCTYPE html>	

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="content">
	<table width="100%" class="table table-striped table-bordered table-hover table-uca" id="records-dataTables">
	     <thead>
		     <tr> 
		     	<th class="hidden">Id</th>
				<th width="15%">Reference</th>
				<th width="35%">Description</th>
				<th width="20%">Responsible</th>
				<th width="15%">Type</th>
				<th width="15%">Status</th>
		 	 </tr>
	     </thead>
	     <tbody>
			<tr th:each="record : ${records}" class="clickable" th:attr="data-href=@{__${ '/records/' + record.id}__}">
				<td class="hidden" th:text="${record.id}"></td>
			    <td th:text="${record.reference}"></td>
			    <td th:text="${record.description}"></td>
			    <td th:text="${record.responsible.name}"></td>
			    <td th:text="${record.type}"></td>
			    <td th:text="#{desktop.records.status.__${record.status.value}__}"></td>
			</tr>
	    </tbody>
	</table>
</th:block>
</html>