<!DOCTYPE html>	

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="content">
	<table id="records-dataTables" width="100%" class="table table-striped table-bordered table-hover table-uca">
	     <thead>
		     <tr>
		     	<th class="hidden">id</th>
				<th width="15%" th:text="#{desktop.records.reference.label}"></th>
				<th width="35%" th:text="#{desktop.records.description.label}"></th>
				<th width="20%" th:text="#{desktop.records.responsible.label}"></th>
				<th width="15%" th:text="#{desktop.records.type.label}"></th>
				<th width="15%" th:text="#{desktop.records.status.label}"></th>
		 	 </tr>
	     </thead>
	     <tbody>
			<tr th:each="record : ${records}" class="clickable" th:attr="data-href=@{__${ '/records/' + record.id}__}">
				<td class="hidden" th:text="${record.id}"></td>
			    <td th:text="${record.reference}"></td>
			    <td th:text="${record.description}"></td>
			    <td th:text="${record.responsible.fullname}"></td>
			    <td th:text="#{desktop.records.type.__${record.type.value}__}"></td>
			    <td th:text="#{desktop.records.status.__${record.status.value}__}"></td>
			</tr>
	    </tbody>
	</table>
</th:block>
</html>