<!DOCTYPE html>	

<html xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorator="desktop-layout">
        
<div id="files-container" class="panel panel-default" layout:fragment="desktop-page-content"> 
	<div class="panel-heading container">
  		<strong class="title">
            <span>
            	<i class="fa fa-clipboard fa-fw"></i> 
				<th:block th:text="#{desktop.layout.sidebar.files}"></th:block>
            </span>
  		</strong>
  		<a th:href="@{/records/new}" class="btn btn-default btn-add pull-right"><i class="fa fa-plus fa-fw"></i><th:block th:text="#{common.new}"/></a>
  	</div> 
	<div class="panel-body">
	    <form id="search-form" class="search-widget">
			<input type="text" name="descriptionText" class="form-control search-description" th:placeholder="#{ desktop.records.description.label }" />
			<select name="types" class="selectpicker search-item" th:title="#{ desktop.records.type.label }" data-live-search="true" multiple>
				  <option th:each="type : ${recordTypeList}" th:attr="data-tokens=${type.value}" th:value="${type.name}" th:text="#{desktop.records.type.__${type.value}__}">
				  </option>
			</select>
			<select name="status" class="selectpicker search-item" th:title="#{desktop.records.status.label}" data-live-search="true" multiple>
				 <option th:each="status : ${recordStatusList}" th:attr="data-tokens=${status.value}" th:value="${status.name}" th:text="#{desktop.records.status.__${status.value}__}">
				  </option>
			</select>
			<button class="btn btn-primary btn-block search-btn" type="button"><th:block th:text="#{common.search}"></th:block></button>
       	</form> 
       	<hr>
		<div id="result-container" th:include="~{modules/records/dataTable::content}"></div>
	</div>
</div>

<div layout:fragment="js-files"> 	
	<script th:src="@{/js/records.js}" ></script> 
</div>

</html>

