<!DOCTYPE html>	

<html xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorator="desktop-layout">
        
<div class="panel panel-default" layout:fragment="desktop-page-content"> 
	<div class="panel-heading display-flow-root">
  		<strong class="title">
            <span>
            	<i class="fa fa-files-o fa-fw"></i> 
				<th:block th:text="#{desktop.layout.sidebar.files}"></th:block>
            </span>
  		</strong>
  		<a th:href="@{/records/new}" class="btn btn-default btn-add pull-right"><i class="fa fa-plus fa-fw"></i>New</a>
  	</div> 
	<div class="panel-body">
	    <form id="toolbar" class="toolbar">
			<input type="text" name="descriptionText" class="form-control search-box" placeholder="Search" />
			<select name="types" class="selectpicker search-item" title="Type" data-live-search="true" data-width="auto" multiple>
				  <option th:each="type : ${recordTypeList}" th:attr="data-tokens=${type.value}" th:text="${type.value}">
				  </option>
			</select>
			<select name="status" class="selectpicker search-item" title="Status" data-live-search="true" data-width="auto" multiple>
				 <option th:each="status : ${recordStatusList}" th:attr="data-tokens=${status.value}" th:text="${status.value}">
				  </option>
			</select>
			<button class="btn btn-primary btn-block search-btn" type="button">Search</button>
       	</form> 
       	<hr>
		<div id="result-container" th:include="~{modules/records/dataTable::content}"></div>
	</div>
</div>

<div layout:fragment="js-files"> 	
	<script th:src="@{/js/records.js}" ></script> 
	<script th:inline="javascript"> 
		var emptySearchResultMessage = [[#{common.empty.search.result.message}]];
		var recordsSearchUrl = [[@{/records/search}]];
	</script>
</div>

</html>

