<th:block layout:decorator="~{desktop-layout}">

	<div class="col-xs-12 col-sm-12 col-md-6 col-lg-8 toppad" layout:fragment="desktop-page-content">
		<div class="panel panel-info">
			<div class="panel-heading">
				<h3 class="panel-title">
					<span> <i class="fa fa-files-o fa-fw"></i> 
						<b><th:block th:text="#{desktop.records.summary.title.label}"></th:block> : </b>
						<th:block th:text="${record.reference}"></th:block>
					</span>
				</h3>
			</div>
			<div class="panel-body">
				<div class="row">
					<div class=" col-md-9 col-lg-9 ">
						<table class="table table-user-information">
							<tbody>
								<tr>
									<td>Description :</td>
									<td><th:block th:text="${record.description}"></td>
								</tr>
								<tr>
									<td>Author :</td>
									<td><th:block th:text="${record.author}"></th:block></td>
								</tr>
								<tr>
									<td>Status :</td>
									<td><th:block th:text="${record.status.value}"></th:block></td>
								</tr>

							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="panel-footer" style="display: flow-root;">
				<span class="pull-right"> 
					<a th:href="@{/records/edit/__${record.id}__}" type="button" class="btn-lg"> 
						<i class="fa fa-pencil-square-o fa-lg" aria-hidden="true"></i>
					</a>
				</span>
			</div>
		</div>
	</div>

</th:block>