.navbar-uca {
	border-bottom: 2px solid #F39200 ! important;
	background-color: rgb(40, 62, 74);
	.navbar-brand {
		padding: 0px 25px 0px 25px;
		.logo-uca {
			width: 144px;
			height: 50px
		}
	}

	.top-nav > li > a:hover , .top-nav > li > a:focus , .top-nav > .open > a , .top-nav > .open > a:hover , .top-nav > .open > a:focus {
		color: #fff;
		background-color: #283e4a;
	}

	.top-nav > li > a {
		padding-top: 15px;
		padding-bottom: 15px;
		line-height: 20px;
		color: #999;
	}

	.sidebar {
		margin-top: 60px;
	}
}

#page-wrapper {
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAGklEQVQIW2N89+7dfyEhIUYGJIDCgYlTKAgAmtcEBhJsYjsAAAAASUVORK5CYII=) repeat;
	padding: 1px 0px 0px 0px;
	.panel {
		margin: 10px;
		color: #777;
		box-shadow: 0 0 10px -3px rgba(0, 0, 0, 0.25);
		-webkit-box-shadow: 0 0 10px -3px rgba(0, 0, 0, 0.25);
		-moz-box-shadow: 0 0 10px -3px rgba(0, 0, 0, 0.25);
		border-radius: 3px;
		.panel-heading {
			background-color: #FFF;
			border-color: #DDD;
			color: #777;
		}

		.panel-body {
			font-weight: 200;
			font-size: 12px;
		}
	}
	.table-uca {
    	border: 0px !important;
	}
}

