.navbar-uca {
	border-bottom: 2px solid #F39200 ! important;
	background-color: rgb(40, 62, 74);
	font-size: 15px;
	.navbar-brand {
		padding: 0px 25px 0px 25px;
		.logo-uca {
			width: 144px;
			height: 50px
		}
	}

	.top-nav > li > a:hover , .top-nav > li > a:focus , .top-nav > .open > a , .top-nav > .open > a:hover , .top-nav > .open > a:focus {
		color: #fff;
		background-color: #283e4a;
	}

	.top-nav > li > a {
		padding-top: 15px;
		padding-bottom: 15px;
		line-height: 20px;
		color: #999;
	}

	.sidebar {
		margin-top: 60px;
	}
}

#page-wrapper {
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAGklEQVQIW2N89+7dfyEhIUYGJIDCgYlTKAgAmtcEBhJsYjsAAAAASUVORK5CYII=) repeat;
	background-color: white !important;
	padding: 1px 0px 1px 0px;
	min-height: 581px !important;
	.panel {
		margin: 10px;
		color: #777;
		box-shadow: 0 0 10px -3px rgba(0, 0, 0, 0.25);
		-webkit-box-shadow: 0 0 10px -3px rgba(0, 0, 0, 0.25);
		-moz-box-shadow: 0 0 10px -3px rgba(0, 0, 0, 0.25);
		border-radius: 3px;
		.panel-heading {
			background-color: #FFF;
			border-color: #DDD;
			color: #777;
		}

		.panel-body {
			font-weight: 200;
			font-size: 12px;
		}

		.toolbar {
			margin: 0px 5px 15px 5px;
			display: flex;
			.search-box {
				width: 20%;
				margin-left: 10px;
				margin-right: 10px;
			}

			.search-btn {
				width: 100px;
				height: 35px;
				text-align: center;
				padding: 5px;
			}

			.search-item {
				margin-left: 10px;
				margin-right: 10px;
			}
		}
	}

	.table-uca {
		border: 0px ! important;
	}

	*:not(i):not(.glyphicon) {
		font-family: verdana;
	}
}

@media (min-width: 768px) {
	.sidebar {
		z-index: 1;
		position: absolute;
		width: 250px;
	}

	.navbar-top-links .dropdown-messages , .navbar-top-links .dropdown-tasks , .navbar-top-links .dropdown-alerts {
		margin-left: auto;
	}
}

@media (min-width: 768px) {
	#page-wrapper {
		position: inherit;
		margin: 0 0 0 250px;
		border-left: 1px solid #e7e7e7;
	}
}

.navbar-top-links li a {
	padding: 15px;
	min-height: 50px;
}

.navbar-top-links li:last-child {
	margin-right: 15px;
}

.navbar-top-links li {
	display: inline-block;
}

.navbar-top-links {
	margin-right: 0;
}

.sidebar ul li {
	border-bottom: 1px solid #e7e7e7;
}

.sidebar ul li a.active {
	background-color: rgba(181, 181, 181, 0.17);
}

.sidebar .sidebar-nav.navbar-collapse {
	padding-left: 0;
	padding-right: 0;
}

.navbar-top-links {
	margin-right: 0;
}

.navbar-top-links li {
	display: inline-block;
}

.navbar-top-links li:last-child {
	margin-right: 15px;
}

.navbar-top-links li a {
	padding: 15px;
	min-height: 50px;
}

.navbar-top-links .dropdown-menu li {
	display: block;
}

.navbar-top-links .dropdown-menu li:last-child {
	margin-right: 0;
}

.navbar-top-links .dropdown-menu li a {
	padding: 3px 20px;
	min-height: 0;
}

.navbar-top-links .dropdown-menu li a div {
	white-space: normal;
}

.navbar-top-links {
	margin-right: 0;
}

.navbar-top-links li {
	display: inline-block;
}

.navbar-top-links li:last-child {
	margin-right: 15px;
}

.navbar-top-links li a {
	padding: 15px;
	min-height: 50px;
}

.navbar-top-links .dropdown-menu li {
	display: block;
}

.navbar-top-links .dropdown-menu li:last-child {
	margin-right: 0;
}

.navbar-top-links .dropdown-menu li a {
	padding: 3px 20px;
	min-height: 0;
}

.navbar-top-links .dropdown-menu li a div {
	white-space: normal;
}

.btn-outline {
	color: inherit;
	background-color: transparent;
	transition: all .5s;
}

.btn-primary.btn-outline {
	color: #428bca;
}

.btn-success.btn-outline {
	color: #5cb85c;
}

.btn-info.btn-outline {
	color: #5bc0de;
}

.btn-warning.btn-outline {
	color: #f0ad4e;
}

.btn-danger.btn-outline {
	color: #d9534f;
}

.btn-primary.btn-outline:hover , .btn-success.btn-outline:hover , .btn-info.btn-outline:hover , .btn-warning.btn-outline:hover , .btn-danger.btn-outline:hover {
	color: white;
}

#wrapper {
	width: 100%;
}

body {
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAGklEQVQIW2N89+7dfyEhIUYGJIDCgYlTKAgAmtcEBhJsYjsAAAAASUVORK5CYII=) repeat;
	background-color: rgba(208, 205, 205, 0.17);
}
