#page-wrapper {
	#files-container {
		.panel-body {
			.search-widget {
				.search-description {
					margin-left: 10px;
					margin-right: 10px;
				}

				.search-item {
					margin-left: 10px;
					margin-right: 10px;
				}
			}
		}
	}
}

