<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{desktop-layout}">

<div class="sidebar" role="navigation" th:fragment="content">
	<div class="sidebar-nav navbar-collapse">
		<ul class="nav" id="side-menu">
			<li>
				<a th:href="@{/files}">
					<i class="fa fa-clipboard fa-fw"></i>&nbsp;<th:block th:text="#{desktop.layout.sidebar.files}"></th:block>
				</a>
			</li>
			<li>
				<a th:href="@{/books}">
					<i class="fa fa-book fa-fw"></i>&nbsp;<th:block th:text="#{desktop.layout.sidebar.books}"></th:block>
				</a>
			</li>
			<li>
				<a th:href="@{/authors}">
					<i class="fa fa-users fa-fw"></i>&nbsp;<th:block th:text="#{desktop.layout.sidebar.authors}"></th:block>
				</a>
			</li>
			<li>
				<a th:href="@{/exchanges}">
					<i class="fa fa-exchange fa-fw"></i>&nbsp;<th:block th:text="#{desktop.layout.sidebar.exchange}"></th:block>
				</a>
			</li>
			<li>
				<a th:href="@{/templates}">
					<i class="fa fa-exchange fa-fw"></i>&nbsp;<th:block th:text="#{desktop.layout.sidebar.exchange}"></th:block>
				</a>
			</li>
		</ul>
	</div>
</div>

</html>