<th:block th:fragment="sidebar">
	<div class="nav-side-menu">
		<div class="menu-list">
			<ul id="menu-content" class="menu-content collapse out">
				<li data-toggle="collapse" class="composite">
					<a href="#">
						<i class="fa fa-files-o fa-lg"></i> 
						<th:block th:text="#{desktop.records.title.label}"></th:block>
						<span class="arrow"></span>
					</a>
				</li>
				<ul class="sub-menu collapse" id="records">
					<li><a href="#" th:text="#{desktop.records.list.all.label}"></a></li>
					<li><a href="#" th:text="#{desktop.records.list.per.type.label}"></a></li>
					<li><a href="#" th:text="#{desktop.records.new.label}"></a></li>
				</ul>
				<li>
					<a href="#"> 
						<i class="fa fa-book fa-lg"></i>
						<th:block th:text="#{desktop.catalogs.title.label}"></th:block> 
					</a>
				</li>
				<li data-toggle="collapse" class="composite">
					<a href="#">
						<i class="fa fa-archive fa-lg"></i> 
						<th:block th:text="#{desktop.warehouse.title.label}"></th:block>
						<span class="arrow"></span>
					</a>
				</li>
				<ul class="sub-menu collapse" id="new">
					<li>New New 1</li>
					<li>New New 2</li>
					<li>New New 3</li>
				</ul>
				<li><a href="#"> 
					<i class="fa fa-exchange fa-lg"></i>
					<th:block th:text="#{desktop.exchanges.title.label}"></th:block>
					</a>
				</li>
				<li><a href="#"> 
					<i class="fa fa-cogs fa-lg"></i>
					<th:block th:text="#{desktop.utilities.title.label}"></th:block>
					</a>
				</li>
			</ul>
		</div>
	</div>
	<script th:src="@{/js/sibedar.js}"></script>	
</th:block>
