<th:block th:fragment="layout (header, template, footer)">

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head lang="en">
	
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    
		<!-- Style -->

		<link rel="stylesheet" type="text/css" th:href="@{/css/library/bootstrap.min.css}" />
		<link rel="stylesheet" type="text/css" th:href="@{/css/library/font-awesome.min.css}" />
		
		<link rel="stylesheet" type="text/css" th:href="@{/css/common.css}" />
		
		<!-- JavaScript -->
		
		<script th:src="@{/js/library/jquery.min.js}" ></script>
		<script th:src="@{/js/jquery.extend.js}" ></script>
		
	</head>
	<body>
	
		<div class="uca-site">
			
			<div th:replace="${header}"></div>
			<div class="container">
				<div th:replace="${template}"></div>
			</div>
		</div>

	</body>
</html>
	
</th:block>