<!-- Templates -->

<th:block th:fragment="login" th:include="base-layout :: layout ('fragments/empty',
															     'login',
															     'fragments/empty')">
																   
<th:block th:fragment="registration" th:include="base-layout :: layout ('fragments/empty',
															     		'registration',
															     		'fragments/empty')">
															     																   																   
<th:block th:fragment="records" th:include="base-layout :: layout ('fragments/header',
																   'modules/records',
																   'fragments/empty')">
																   
</th:block> 