<div class="signin-container">
    <form method="POST" th:object="${userForm}" class="form-signin">
        <h3 class="form-signin-heading" th:text="#{common.registration.account.create}"></h3>
        
            <div th:class="|form-group ${#fields.hasErrors('username') ? 'has-error' : ''}|">
                <input type="text" th:field="*{username}" class="form-control" placeholder="Username" autofocus="true"></input>
                <errors th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></errors>
            </div>

            <div th:class="|form-group ${#fields.hasErrors('password') ? 'has-error' : ''}|">
                <input type="password" th:field="*{password}" class="form-control" placeholder="Password"></input>
                <errors th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></errors>
            </div>

            <div th:class="|form-group ${#fields.hasErrors('passwordConfirm') ? 'has-error' : ''}|">
                <input type="password" th:field="*{passwordConfirm}" class="form-control" placeholder="Confirm your password"></input>
                <errors th:if="${#fields.hasErrors('passwordConfirm')}" th:errors="*{passwordConfirm}"></errors>
            </div>

        <button class="btn btn-lg btn-primary btn-block" type="submit" th:text="#{common.submit}"></button>
    </form>
</div>
