
<html xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorator="desktop-layout">

	<div id="author-form-container" class="panel panel-default details-container author-details-container" layout:fragment="desktop-page-content"> 
		<th:block th:with="isNewAuthor=${author != null && author.id == null}">
			<div class="panel-heading">
	       		<div class="row">
	                 <div class="col-lg-12">
	                    <span class="title">
                        	<i class="fa fa-users fa-fw"></i>
	                        <th:block th:text="#{common.__${isNewAuthor ? 'new' : 'edit'}__}"></th:block>
							<th:block th:text="#{desktop.authors.details.title.label}"></th:block>
							&nbsp;-&nbsp;
							<th:block th:text="${ author != null ? author.fullname : ''}"></th:block> 
	                    </span>
	                 </div>
	       		</div>
			</div>				
			<div class="panel-body">
				<div class="col-lg-12">
				    <form class="form-horizontal details-form author-details-form" role="form">
				    	<input id="authorId" type="hidden" name="id" th:value="${author.id}"/>
			    		<div class="form-group">
				    		<label for="idCard" class="col-sm-2 control-label"><th:block th:text="#{desktop.authors.idCard.label}"></th:block></label>
				    		<div class="col-sm-2">
				    			<input tpye="text" id="idCard" name="idCard" th:value="${author.idCard}" class="form-control" th:placeholder="#{desktop.authors.idCard.label}" th:disabled="${author.idCard} ? true : false" required/>
				    		</div>
				    	</div>
				    	<div class="form-group">
				    		<label for="fullname" class="col-sm-2 control-label"><th:block th:text="#{desktop.authors.fullname.label}"></th:block></label>
				    		<div class="col-sm-3">
				    			<input type="text" id="fullname" name="fullname" th:value="${author.fullname}" class="form-control" th:placeholder="#{desktop.authors.fullname.label}" th:disabled="${author.fullname} ? true : false" required/>
				    		</div>
				    	</div>
				    	<div class="form-group">
				    		<label for="email" class="col-sm-2 control-label"><th:block th:text="#{desktop.authors.email.label}"></th:block></label>
				    		<div class="col-sm-3">
				    			<input id="email" type="email" name="email" th:value="${author.email}" class="form-control" th:placeholder="#{desktop.authors.email.label}" th:disabled="${author.email} ? true : false" required/>
				    		</div>
				    	</div>
				    	<div class="form-group">
				    		<label for="phone" class="col-sm-2 control-label"><th:block th:text="#{desktop.authors.phone.label}"></th:block></label>
				    		<div class="col-sm-2">
				    			<input type="text" id="phone" name="phone" th:value="${author.phone}" class="form-control" th:placeholder="#{desktop.authors.phone.label}" th:disabled="${!isNewAuthor &&  (author.phone != null || #strings.isEmpty(author.phone))} ? true : false"/>
				    		</div>
				    	</div>
				    	<div class="form-group">
							<label for="street1_id" class="col-sm-2 control-label"><th:block th:text="#{desktop.authors.address.label}"></th:block></label>
							<div class="col-sm-3">
								<input type="text" class="form-control" th:value="${author.street}" id="street" name="street" th:placeholder="#{desktop.authors.street.placeholder}" th:disabled="${!isNewAuthor && (author.street != null || #strings.isEmpty(author.street))} ? true : false"/>
							</div>
							<div class="col-sm-2">
								<input type="text" class="form-control" th:value="${author.city}" id="city" name="city" th:placeholder="#{desktop.authors.city.placeholder}" th:disabled="${!isNewAuthor && (author.city != null || #strings.isEmpty(author.city))} ? true : false"/>
							</div>
							<div class="col-sm-2">
								<input type="text" class="form-control" th:value="${author.zipCode}" id="zipCode" name="zipCode" th:placeholder="#{desktop.authors.zipCode.placeholder}" th:disabled="${!isNewAuthor && (author.zipCode != null || #strings.isEmpty(author.zipCode))} ? true : false"/>
							</div>
						</div>					
				    </form>
			   	</div>
			</div>
			<div th:replace="~{fragments/panel-footer::content (__${isNewAuthor}__)}">
			</div>
		</th:block>
	</div>
	
	<th:block layout:fragment="js-files"> 	
		<script th:src="@{/js/authorForm.js}" ></script> 
	</th:block>
	
</html>