<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{desktop-layout}">

	<div id="authors-container" class="panel panel-default" layout:fragment="desktop-page-content">
		<div class="panel-heading container">
			<span class="title">
				<i class="fa fa-users fa-fw"></i>
				<th:block th:text="#{desktop.layout.sidebar.authors}"></th:block>
			</span>
			<a th:href="@{/authors/new}" class="btn btn-default btn-add pull-right">
				<i class="fa fa-plus fa-fw"></i>
				<th:block th:text="#{ common.new }">
			</a>
		</div>
		<div class="panel-body">
			<form id="search-form" class="search-widget">
				<input type="text" name="fullname" class="form-control search-box fullname" th:placeholder="#{ desktop.authors.fullname.label }" />
				<input type="text" name="idCard" class="form-control search-box idCard" th:placeholder="#{ desktop.authors.idCard.label }" />
				<input type="text" name="email" class="form-control search-box email" th:placeholder="#{ desktop.authors.email.label }" />
				<button class="btn btn-primary btn-block search-btn" type="button">
					<th:block th:text="#{ common.search }"></th:block>
				</button>
			</form>
			<hr>
			<div id="result-container" th:include="~{modules/authors/dataTable::content}"></div>
		</div>
	</div>
	
	<div layout:fragment="js-files">
		<script th:src="@{/js/authors.js}"></script>
	</div>

</html>

